body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills the height of the viewport */
    margin: 0; /* Remove default margin */
    /* background-color: #aeceff; */
    background: linear-gradient(to right, #aeceff, #85b1f2);
}

main {
    flex: 1; /* Allow main to grow to fill remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

header, footer {
    flex: 0 0 auto; /* Dont allow header and footer to grow or shrink */
}

footer {
    margin-top: auto; /* Push footer to the bottom of the page */
}

#messenger {
    width: 80%;
    height: 75vh;
    border-bottom: 1px solid #aeceff;
    /* align-items: end; */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
/* CSS to customize the scrollbar */
#messenger::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

#messenger::-webkit-scrollbar-track {
  background-color: #28242c; /* Set the background color of the scrollbar track */
}

#messenger::-webkit-scrollbar-thumb {
  background-color: #aeceff; /* Set the color of the scrollbar thumb */
  border-radius: 3px;
   /* Set the border radius of the scrollbar thumb */
}

#messenger::-webkit-scrollbar-thumb:hover {
  background-color: #9DB9E5; /* Set the color of the scrollbar thumb on hover */
}
#input {
    width: 80%;
}
.icon-color{
    color:#aeceff;
}   
.bi{
    color:#aeceff;
}
.inmess {
    background-color: #aeceff;
    font-size:larger;
    font-weight:400;
}
/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */
 @charset "UTF-8";
 /**
  * ==============================================
  * Dot Elastic
  * ==============================================
  */
 .dot-elastic {
   position: relative;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: #000000;
   color: #000000;
   animation: dot-elastic 1s infinite linear;
 }
 .dot-elastic::before, .dot-elastic::after {
   content: "";
   display: inline-block;
   position: absolute;
   top: 0;
 }
 .dot-elastic::before {
   left: -15px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: #000000;
   color: #000000;
   animation: dot-elastic-before 1s infinite linear;
 }
 .dot-elastic::after {
   left: 15px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: #000000;
   color: #000000;
   animation: dot-elastic-after 1s infinite linear;
 }
 
 @keyframes dot-elastic-before {
   0% {
     transform: scale(1, 1);
   }
   25% {
     transform: scale(1, 1.5);
   }
   50% {
     transform: scale(1, 0.67);
   }
   75% {
     transform: scale(1, 1);
   }
   100% {
     transform: scale(1, 1);
   }
 }
 @keyframes dot-elastic {
   0% {
     transform: scale(1, 1);
   }
   25% {
     transform: scale(1, 1);
   }
   50% {
     transform: scale(1, 1.5);
   }
   75% {
     transform: scale(1, 1);
   }
   100% {
     transform: scale(1, 1);
   }
 }
 @keyframes dot-elastic-after {
   0% {
     transform: scale(1, 1);
   }
   25% {
     transform: scale(1, 1);
   }
   50% {
     transform: scale(1, 0.67);
   }
   75% {
     transform: scale(1, 1.5);
   }
   100% {
     transform: scale(1, 1);
   }
 }