body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills the height of the viewport */
    margin: 0; /* Remove default margin */
    background-color: #aeceff;
}

main {
    flex: 1; /* Allow main to grow to fill remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

header, footer {
    flex: 0 0 auto; /* Don't allow header and footer to grow or shrink */
}

footer {
    margin-top: auto; /* Push footer to the bottom of the page */
}

#messenger {
    width: 50%;
    height: 75vh;
    border-bottom: 1px solid #aeceff;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

#input {
    width: 50%;
}

.inmess {
    background-color: #aeceff;
    align-items: end;
}

.btn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: inherit;
    text-shadow: none;
}

.bi-arrow-up-square {
    color: #c33232;
    height: 100%;
    width: 100%;
}

.btn:active,
.btn.active {
    box-shadow: none !important;
    outline: none !important;
}
